<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Time Display</title>
    </head>
    <body>
    @{
        DateTime CurrentTime = DateTime.Now;
        
       <h1>Date/Time Display</h1>
       <h4>*Note: Refresh page to update DateTime*</h4>
            <fieldset>
                <legend><h2>Current Time:</h2></legend>
            <font color="red"><h1>@CurrentTime</h1></font>
            </fieldset>
        
    }
    </body>
</html>